.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: left; }

#button-back {
    padding:10%;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'left header header header header oleft'
    'menu main main main main right'
    'menu footer footer footer footer footer';
  gap: 10px;
  background-color: #ffffff;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}