body, html{
  height:100%;
  margin: 0px;
  padding: 0px;
}
h1{
  font-size: 2em;
  margin:5px;
}
select{
  margin: 0.5em
}
a{
  color: blue;
}
.item1 { grid-area: header; text-align: center;background-color: rgb(52, 185, 52); }
.item2 { grid-area: menu; background-color: rgb(172, 172, 230); }
a.link{text-align: left; color: green; margin-bottom: 5%;}
.item3 { grid-area: main; background-image: url("../images/background.jpg"); background-size: auto; background-repeat: repeat-y;font-size: medium; color:white}
.item4 { grid-area: footer; font-size: small; text-align: center; background-color: rgb(52, 185, 52);} 
.item3 > table {color:white;}
.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header header'
    'menu main main main main main main'
    'menu main main main main main main '
    'footer footer footer footer footer footer footer';
  padding: 10px;
}

.grid-container > div {
  font-size: 1.5em;
}
.flex-container-menu {
  display: flex;
  flex-direction: column;
}

.flex-container-menu > div {
  margin: 0.5em;
}
.flex-container-footer {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.flex-container-footer > div {
  margin: 0.25em;
  font-size: 0.5em;
}

